@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

// HEADER

header {
	position: relative;
	height: 100vh;
	background: linear-gradient(to right, #e84545, #2b2e4a);

	.hamburger {
		position: absolute;
		top: 3em;
		left: 1em;
		transform: translateY(-50%);
		z-index: 500;

		&-inner,
		&-inner::before,
		&-inner::after {
			background-color: $light-white;
			z-index: 500;
		}
	}

	.nav {
		&-mobile {
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: $navy;
			transition: transform 0.3s;
			transform: translate(-102%);

			&--active {
				transform: translateX(0);
			}
		}
		&-desktop {
			display: none;
		}

		&__link {
			position: relative;
			display: inline-block;
			margin: 0.5em;
			padding: 0.5em;
			font-size: 2.3rem;
			text-transform: uppercase;
			text-decoration: none;
			color: $red;
		}
	}
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
	.hamburger {
		display: none;
	}
	header {
		background-color: $red;
		.nav {
			&-mobile {
				display: none;
			}
			&-desktop {
				display: block;
			}

			&__link {
				color: $light-white;
			}
		}
	}
}
@media (min-width: 992px) {
}
