@use 'colors.scss' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: auto auto;
}

.hamburger {
	position: absolute;
	z-index: 500;
}

.header {
	position: relative;
	background-image: url('../img/header_2.jpg');
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;

	&__image-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.87);
	}

	.main-title {
		position: absolute;
		// font-size: 5rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $light-white;
		font-size: 10rem;
		font-weight: 300;
		text-transform: uppercase;

		// z-index: 1000;
	}

	.nav {
		&__box {
			// position: relative;
			&-desktop {
				display: none;
			}

			&-mobile {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100vh;
				transform: translateX(-130%);
				background-color: $red;
				transition: transform 0.5s;

				&--is-active {
					transform: translate(0);
				}
			}

			&-link {
				color: $light-white;
				font-size: 4rem;
				text-transform: uppercase;
				text-decoration: none;
				margin-bottom: 3rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.hamburger {
		display: none;
	}
	.header {
		.nav {
			&__box {
				&-desktop {
					// justify-content: center;
					display: block;
					position: absolute;
					top: 4rem;
					left: 0;
					width: 100%;
				}

				&-links {
					position: relative;
					width: 100%;
					display: flex;
					justify-content: space-evenly;
					align-items: center;
				}

				&-logo {
					font-size: 5rem;
					color: $light-white;
				}

				&-link {
					margin-right: 3rem;
				}
			}
		}
	}
}
